*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

h3{
  margin-top: 1rem;
  padding-top: 5px;
  text-align: center;
  color: #992800;
}

.top{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input{
  border:none;
  outline: none;
  width: 400px;
  padding: 0.5rem;
  border-bottom: 1px solid #992800;
}

@media (max-width:540px){
  .conbody{
    width: 100%;
  }
}

@media (min-width:540px){
  .conbody{
    width:25%;

  }
}

.add{
  background-color: #992800;
  color: #F2D8B3;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.todo{
  position: relative;
  margin-top: 1.5rem;
  background-color: #992800;
  color: #F2D8B3;
  padding: 2rem, 3rem;
  border-radius: 3px;
}

.list{
 padding-bottom: 1.5rem;
}

.text{
  padding: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 40px;
}

.icons{
  position:absolute;
  align-items: flex-end;
  top: 50%;
  transform: translateY(-40%);
  right: 5px;
  display: flex;
  gap: 0.3rem;
  color: #F2D8B3;
}

.icon{
  cursor: pointer;
  font-size: 20px;
}

.header-box{
  /* width: 100%; */
  max-width: -webkit-fill-available;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #F2D8B3;
}

@media(max-width: 768px){
  .header-box{
      flex-direction: column;
      justify-content: space-around;
  }
}

.header-box .leftside{
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1;
  padding-left: 10px;
}

@media(max-width: 768px){
  .header-box .leftside{
      width: 100%;
      flex-direction:column;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;
      padding-left: 0;
  }
}

.header-box .leftside .img{
  width: 120px;
  height: 120px;
}

.header-box .leftside .img img{
  width: 100%;
  height: 100%;
}

.header-box .leftside .content{
  color: #992800;
}

.header-box .leftside .content .heading-big{
  font-size: 25px;
  color: #992800;
  padding-left: 20px;
  
}

@media(max-width: 768px){
  .header-box .leftside .content .heading-big{
      padding-left: 0;
  }
}

.header-box .leftside .content .heading-small{
  font-size: 24px;
  color: #992800;
  padding-left: 20px;
}

@media(max-width: 768px){
  .header-box .leftside .content .heading-small{
      padding-left: 0;
  }
}

.header-box .rightside{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-end;
  width: 100px;
  padding-right: 30px;
}

.header-box .rightside h2,h5{
  color: #992800;
}

@media(max-width: 768px){
  .header-box .rightside{
      width: 100%;
      text-align: center;
      align-items: center;
      padding-right: 0;
  }
}


.header-box .rightside .btn, .header-box .rightside .btn:hover{
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #992800;
  color: #F2D8B3;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header-box .rightside .btn, .header-box .rightside .btn:hover{
    margin-top: 0px;
  } 
  
}

.date-section{
  color: #992800;
}

.date-section span{
  margin: 4px;
}

/* signup */
@media(max-width: 539px){
  .mybtn2{
      width: 100%;
  }
}

.error-msg{
  color: red;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.welcome-div{
  color: #fff;
  letter-spacing: 0.09em;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.conbody .btn {
   color: #F2D8B3;
   background-color: #992800;
}

.conbody p{
  padding-top: 10px;
}


.body-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  width: 100%;
  height: auto;
}

@media (max-width:540px){
  .body-image{
    width: 200px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }
}

*{
  box-sizing: border-box;/* new line */
  margin: 0;
}

.header-box,img{
  overflow: hidden;/* new line */
  white-space: wrap;/* new line */
  word-break: break-word;/* new line */
}

.daccount{
  text-align: center;
  padding: 0;
}

.regbody{
  max-width: -webkit-fill-available;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #F2D8B3;
}



@media (max-width:769px){
  .regbody{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.bicon{
  width: 35px;
  height: 35px;
  padding-bottom: 5px;
}

